# <img src="http://datapao.com/wp-content/themes/datapao/img/header.svg" style="display:inline"/>  Budapest Data Meetups

This notebook contains the overview of the Budapest Data community through the numbers of the [meetup.com](https://meetup.com).

#### Data source
If you are interested in the source data, visit [our blog](https://datapao.com/blog/) where we publish our data sources. <br/>
On our blog post we share the work of others too! Send us your take on this data.



#### Source code
This noteboook and the crawlers are available on our [Github site](https://github.com/datapao/budapest-data-community/). 


---
<img src="logo.png" alt="Drawing" style="width: 100px;"/>

In [32]:
%matplotlib inline
import pandas as pd
import matplotlib as plt
import numpy as np

# Meetup groups graph

## Edges

In [33]:
members = pd.read_csv("data/members_budapest_data.csv", delimiter=";", names=["country","city","joined","name","visited","id","group"])

In [34]:
members.head()

,country,city,joined,name,visited,id,group
0,hu,Budapest,1464271220000,A. Asbot,1500461845000,186451270.0,budapest_data_science
1,hu,Budapest,1432103533000,A.J. Lumijärvi,1478694290000,186768573.0,budapest_data_science
2,hu,Budapest,1474229938000,Ábel Fóthi,1478776809000,151890652.0,budapest_data_science
3,hu,Budapest,1422875944000,Ábel Melinda,1422875944000,183778449.0,budapest_data_science
4,hu,Budapest,1469042635000,Abel Oszwald,1469224448000,105964922.0,budapest_data_science

In [35]:
members = members.drop(['country','city'], axis=1)

In [36]:
members[members.name.str.contains(" ")].groupby("name")["group"].count().sort_values(ascending=False).head(15)

name
Arató Bence          25
Andras Nagy          25
Milan Dobri          23
Endre Adam           23
Csaba Peter          22
Zsolt Tóth           22
Zoltán Polgár        22
Andrew John Lowe     22
Zoltan Ludanyi       21
Samu Imre            21
Siddharth Pandit     20
Zoltan C. Toth       20
Dániel Berecz        20
MobilPhone Andras    20
Zoltan Prekopcsak    20
Name: group, dtype: int64

In [37]:
c = members.merge(members, on="name")[['name','group_x','group_y']]

In [38]:
c = c[c.group_x != c.group_y]

In [39]:
c["const"] = 1

In [40]:
edges = c.groupby(['group_x', 'group_y'], as_index=False)['const'].count()

In [41]:
edges = edges.rename(columns={"group_x": "Source", "group_y": "Target", "const": "Weight"})

In [42]:
edges["Type"]="Undirected"

In [43]:
edges.head()

              Source                         Target  Weight        Type
0  Big-Data-Budapest       Big-Data-Meetup-Budapest     662  Undirected
1  Big-Data-Budapest   Budapest-Analytics-Rockstars     453  Undirected
2  Big-Data-Budapest             Budapest-BI-Meetup     401  Undirected
3  Big-Data-Budapest       Budapest-Cassandra-Users      45  Undirected
4  Big-Data-Budapest  Budapest-Data-Projects-Meetup     307  Undirected

In [44]:
edges.to_csv('data/meetup-groups-graph/edges.csv', header=True, index=False)

## Nodes

In [45]:
meetups = pd.read_csv("data/meetup_groups_budapest_data.csv", names=["rating","name","id","urlname","member"],delimiter=";")
meetups = meetups[["urlname","name","member"]]

In [46]:
meetups = meetups.rename(columns={"urlname": "Id", "name": "Label", "member": "Weight"})

In [47]:
meetups.head()

,Id,Label,Weight
0,budapest_data_science,Budapest Data Science Meetup,2711
1,HUG-MSSQL,HUG-MSSQL,399
2,Hungarian-nlp,Hungarian Natural Language Processing Meetup,968
3,KURT_Akademia,KÜRT Akadémia meetupok,484
4,Big-Data-Meetup-Budapest,Budapest Big Data Meetup,1906

In [48]:
meetups.to_csv('data/meetup-groups-graph/nodes.csv', header=True, index=False)

# Social fabric graph

In [49]:
members = pd.read_csv("data/members_budapest_data.csv", delimiter=";", names=["country","city","joined","name","visited","id","group"])

In [50]:
members.head()

,country,city,joined,name,visited,id,group
0,hu,Budapest,1464271220000,A. Asbot,1500461845000,186451270.0,budapest_data_science
1,hu,Budapest,1432103533000,A.J. Lumijärvi,1478694290000,186768573.0,budapest_data_science
2,hu,Budapest,1474229938000,Ábel Fóthi,1478776809000,151890652.0,budapest_data_science
3,hu,Budapest,1422875944000,Ábel Melinda,1422875944000,183778449.0,budapest_data_science
4,hu,Budapest,1469042635000,Abel Oszwald,1469224448000,105964922.0,budapest_data_science

In [51]:
members = members[members.name.str.contains(" ")]

In [52]:
c = members.merge(members, on="group")[['group','name_x', 'name_y']]

In [53]:
c = c[c.name_x != c.name_y]

In [54]:
len(c)

18658628

In [55]:
graph_edges = c.groupby(['name_x', 'name_y'], as_index=False).count()

In [56]:
filtered_edges = graph_edges[graph_edges.group > 10]

In [57]:
len(filtered_edges)

8250

In [58]:
filtered_edges.sort_values(by="group", ascending=False).head(23)

                     name_x             name_y  group
595595          Andras Nagy   Siddharth Pandit     27
594613          Andras Nagy       Molnár Tamás     27
10470975   Siddharth Pandit        Andras Nagy     27
8368417        Molnár Tamás        Andras Nagy     27
3357407       Dániel Berecz        Andras Nagy     26
592381          Andras Nagy      Dániel Berecz     26
10728452        Szabó Gábor        Andras Nagy     24
596534          Andras Nagy      Zoltán Polgár     24
591344          Andras Nagy        Arató Bence     24
1072855         Arató Bence        Andras Nagy     24
595711          Andras Nagy        Szabó Gábor     24
12578929      Zoltán Polgár        Andras Nagy     24
12438755  Zoltan Prekopcsak        Andras Nagy     23
7926339       Marton Ancsan        Andras Nagy     23
8318390   MobilPhone Andras        Andras Nagy     23
2538023         Csaba Peter        Andras Nagy     23
594428          Andras Nagy      Marton Ancsan     23
594593          Andras Nagy  MobilPhone Andras     23
12816498         Zsolt Tóth        Andras Nagy     23
596469          Andras Nagy  Zoltan Prekopcsak     23
12368075     Zoltan C. Toth        Andras Nagy     23
592532          Andras Nagy         Endre Adam     23
596437          Andras Nagy     Zoltan C. Toth     23

In [59]:
filtered_edges = filtered_edges.rename(columns={"name_x": "Source", "name_y": "Target", "group": "Weight"})

In [60]:
filtered_edges['Type'] = 'Undirected'

In [61]:
filtered_edges.head()

             Source         Target  Weight        Type
5412       A. Asbot   Molnár Tamás      11  Undirected
19343  Ableda Péter    Andras Nagy      13  Undirected
60370    Adam Gabor    Andras Nagy      16  Undirected
61391    Adam Gabor  Dániel Berecz      11  Undirected
63205    Adam Gabor   Molnár Tamás      13  Undirected

In [62]:
filtered_edges.to_csv('data/social-graph/edges.csv', header=True, index=False)

FileNotFoundError: [Errno 2] No such file or directory: 'data/social-graph/edges.csv'